@ticket_list: #3b3f46;
@ticket_list_over: darken(@ticket_list, 3%);

.TicketList {
	padding: 10px 10px 0 10px;
	margin: 10px 0 10px 10px;
	min-width: 200px;
	display: inline-block;
	background-color: @ticket_list;
	vertical-align: text-top;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	.borderRadius(5px);
}
.TicketList h3 {
	color: #FFF;
	margin-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
}
.TicketList h4.capacity {
	float: right;
}
.TicketList h4.no_capacity {
	color: #F10;
}
.TicketList.TicketList_over {
	background-color: @ticket_list_over;
}
