@green_start: #8bf08b;
@green_end: desaturate(darken(@green_start, 20%), 20%);
@red_start: #f0928b;
@red_end: desaturate(darken(@red_start, 20%), 10%);
@yellow_start: #ecf08b;
@yellow_end: desaturate(darken(@yellow_start, 20%), 20%);
@blue_start: #8bb6f0;
@blue_end: desaturate(darken(@blue_start, 20%), 20%);
@orange_start: #f0cb8b;
@orange_end: desaturate(darken(@yellow_start, 20%), 20%);

.TicketSummary {
	background-color: #CCC;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	vertical-align: text-top;

	.borderRadius(5px);
	.boxShadow(2px 2px 5px #333);
	.gradientV(#DDD, #CCC, #DDD, #CCC);
}
.TicketSummary:hover {
	background: #EEE;
	cursor: pointer;
}
.TicketSummary.TicketSummary_type_green {
	.gradientV(@green_start, @green_end, @green_start, @green_end);
}
.TicketSummary.TicketSummary_type_green:hover {
	background: @green_start;
}
.TicketSummary.TicketSummary_type_red {
	.gradientV(@red_start, @red_end, @red_start, @red_end);
}
.TicketSummary.TicketSummary_type_red:hover {
	background: @red_start;
}
.TicketSummary.TicketSummary_type_yellow {
	.gradientV(@yellow_start, @yellow_end, @yellow_start, @yellow_end);
}
.TicketSummary.TicketSummary_type_yellow:hover {
	background: @yellow_start;
}
.TicketSummary.TicketSummary_type_blue {
	.gradientV(@blue_start, @blue_end, @blue_start, @blue_end);
}
.TicketSummary.TicketSummary_type_blue:hover {
	background: @blue_start;
}
.TicketSummary.TicketSummary_type_orange {
	.gradientV(@orange_start, @orange_end, @orange_start, @orange_end);
}
.TicketSummary.TicketSummary_type_orange:hover {
	background: @orange_start;
}
.TicketSummary h4 {
	clear: both;
	padding-top: 5px;
	font-weight: bold;
}
.TicketSummary h5 {
	float: left;
}
.TicketSummary time {
	float: right;
}
.TicketSummary img {
	float: left;
	margin: 0 5px 5px 0;
}
