@green_start: #8bf08b;
@green_end: desaturate(darken(@green_start, 20%), 20%);
@red_start: #f0928b;
@red_end: desaturate(darken(@red_start, 20%), 10%);
@yellow_start: #ecf08b;
@yellow_end: desaturate(darken(@yellow_start, 20%), 20%);
@blue_start: #8bb6f0;
@blue_end: desaturate(darken(@blue_start, 20%), 20%);
@orange_start: #f0cb8b;
@orange_end: desaturate(darken(@yellow_start, 20%), 20%);

.TicketDetail.TicketDetail_type_green {
	.gradientV(@green_start, @green_end, @green_start, @green_end);
}
.TicketDetail.TicketDetail_type_red {
	.gradientV(@red_start, @red_end, @red_start, @red_end);
}
.TicketDetail.TicketDetail_type_yellow {
	.gradientV(@yellow_start, @yellow_end, @yellow_start, @yellow_end);
}
.TicketDetail.TicketDetail_type_blue {
	.gradientV(@blue_start, @blue_end, @blue_start, @blue_end);
}
.TicketDetail.TicketDetail_type_orange {
	.gradientV(@orange_start, @orange_end, @orange_start, @orange_end);
}

.TicketDetail {
	padding: 20px;
	position: absolute;
	top: 100px;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	z-index: 100;
	color: #333;

	.boxShadow(2px 2px 5px #333);
	.borderRadius(10px);
	.gradientV(#DDD, #CCC, #DDD, #CCC);
}
.TicketDetail .close_button {
	float: right;
	background: url(/images/bigboard/gui/tickets/TicketDetail/close.png) no-repeat center 5px #CCC;
	overflow: hidden;
	padding: 30px 0 0 0;
	width: 30px;
	height: 0;
	margin: 0 0 10px 10px;
	opacity: 0.5;
	border: 1px solid #666;

	.borderRadius(3px);
}
.TicketDetail .close_button:hover {
	opacity: 0.8;
	background: url(/images/bigboard/gui/tickets/TicketDetail/close.png) no-repeat center center #666;
	border: 1px solid #333;
}
.TicketDetail h5 {
	font-size: 2em;
	font-weight: bold;
}

.TicketDetail h5 a {
	font-size: 0.5em;
	font-weight: normal;
	margin-left: 10px;
	vertical-align: baseline;
}

.TicketDetail h5 a:hover {
	text-decoration: underline;
}

.TicketDetail .Avatar {
	float: left;
	margin: 0 10px 15px 0;
}

.TicketDetail time {
	margin: 10px 0;
	display: block;
}

.TicketDetail h4 {
	font-size: 1.8em;
	font-weight: bold;
	clear: both;
	margin-bottom: 10px;
}

.TicketDetail .description p {
	margin: 10px 0;
	line-height: 1.2;
}
.TicketDetail .description tt {
	font-family: "Courier New", monospace;
}
.TicketDetail .description li {
	list-style: disc outside none;
	margin: 0 30px 10px 30px;
	line-height: 1.2;
}

