.Header {
	display: block;
	border-bottom: 1px solid #888;

	.gradientV(#495059, #40454d, #495059, #40454d);
}

.Header h1, .Header ul {
	display: inline-block;
}
.Header h1 {
	padding: 10px;
	font-size: 2em;
	color: #EEE;
}
.Header a.serverSettings {
	width: 30px;
	height: 0;
	padding: 30px 0 0 0;
	overflow: hidden;
	display: block;
	background: no-repeat center center #333;
	margin: 10px 10px 0 0;
}
.Header a.serverSettings:hover {
	background-color: #444;
}
.Header a.serverSettings:active {
	background-color: #000;
}
.Header a.serverSettings {
	border: 1px solid #888;
	background-image: url(/images/bigboard/gui/header/Header/settings.png);
	float: right;

	.borderRadius(5px);
}
.Header label {
	color: #FFF;
	display: inline-block;
	padding: 10px;
	margin-top: 8px;
}
.Header label select {
	margin-left: 10px;
}
